body {
  font-family: Arial;
  text-align: center;
  background: #f2f2f2;
}

#chat-box {
  width: 300px;
  height: 300px;
  margin: auto;
  border: 1px solid black;
  background: white;
  padding: 10px;
  overflow-y: scroll;
}
